@import url(main.css);

ul {
  padding-left: 0;
}
.services-h2 {
  font-size: 68px;
  color: #fff;
  text-transform: uppercase;
}

.services-card-section {
  background-color: #f0f0f0;
}

.services-card {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 625px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  justify-content: center;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 0px 14px -1px grey;
}

.services-card-h1 {
  background-color: var(--color-3);
  text-align: center;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.services-card-h2 {
  background-color: var(--color2);
  text-align: center;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.service-list-item {
  font-size: 20px;
  font-weight: bold;
}

.price-p1 {
  font-size: 38px;
  font-weight: bold;
  color: var(--color-3);
}

.price-p2 {
  padding-top: 85px;
  font-size: 38px;
  font-weight: bold;
  color: var(--color2);
}

.price-p3 {
  padding-top: 190px;
  font-size: 38px;
  font-weight: bold;
  color: var(--color2);
}

.other-services-section {
  width: 100vw;
}
.other-h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  margin-top: -10px;
}

.other-box-1 {
  background-color: var(--color-3);
  width: 1200px;
}

.other-p1 {
  color: #fff;
  font-size: 20px;
}

.other-box-2 {
  width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

.other-h2 {
  text-transform: uppercase;
  color: var(--color-3);
  font-size: 32px;
  margin-bottom: 0;
  margin-left: -250px;
}

.other-p2 {
  font-size: 20px;
  max-width: 400px;
  margin-left: -400px;
  margin-bottom: 0;
}
@media only screen and (min-width: 1460px) and (max-width: 1924px) {
  .other-box-1 {
    background-color: var(--color-3);
    max-width: 960px;
  }
}

@media only screen and (max-width: 600px) {
  .services-card-section {
    flex-direction: column !important;
  }

  .other-services-section {
    flex-direction: column !important;
  }

  .services-card {
    width: 340px;
    height: 580px;
  }

  .other-text-box-1 {
    margin-left: -80px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .other-box-2 {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .other-h1 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .other-p1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .other-h2 {
    margin-left: 20px;
  }

  .other-h2 {
    margin-left: 30px;
  }

  .other-p2 {
    max-width: 300px;
    margin-left: -50px;
  }
}
